# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Virtual Environment
venv/
.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Data files (اختیاری - اگر داده‌ها بزرگ هستند)
*.csv
*.xlsx

# Jupyter Notebook
.ipynb_checkpoints/
*.ipynb

# OS
.DS_Store
Thumbs.db